Data Types and Structures Questions

1.What are data structures, and why are they important?

ans- Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.Choosing the right data structure significantly impacts the efficiency and performance of your program.Well-chosen data structures can simplify data manupulation,Optimize searching and sorting operations

2.Explain the difference between mutable and immutable data types with examples?

ans-mutable data type are those whose value can be changed after their creation for example list, dictonary and set in all these data structure we can add delete and modify data without changing variable objectives.
immutable data type are those whose value can not be changed once they are created for example tuple and string

3.What are the main differences between lists and tuples in Python?

ans-The main difference between list and tuple is that list is mutable and tuple is immutable ,list can be modified after creation like it can add, remove and modify but in tuple you can not modify add or remove an element

4.Describe how dictionaries store data?

ans- dictionaries is unordered list of element it is stored on the basis of key and value each key word as unique identifier for retriving an associated value it can store hetrogenous data 

5.Why might you use a set instead of a list in Python?

ans- set provide unique set of element present on data structure , set does not allow duplicate value wherelse list can store one element more then twice for some cases like installing username for an account because it will not let one username used twice

6.What is a string in Python, and how is it different from a list?

ans-A string is a sequence of characters enclosed in single (') or double (") quotes. Strings are immutable, meaning once created, their content cannot be changed. Any operation that modifies a string results in the creation of a new string object. string and list are different because string is immutable and can not perform any function which may change its elements whereelse list is mutable and we can perform manupulation in string.

7.How do tuples ensure data integrity in Python?

ans- Once a tuple is created, its elements cannot be changed, added, or removed. This immutability safeguards against unintended modifications, ensuring that the data remains consistent throughout the program.Tuples in Python ensure data integrity through their immutability, preventing accidental modifications and supporting hashability for use as dictionary keys. However, caution is needed when tuples contain mutable objects, as their contents can still be altered, potentially compromising data integrity.

8.What is a hash table, and how does it relate to dictionaries in Python?

ans- A hash table is a data structure that maps keys to values using a hash function. The hash function computes an index into an array of buckets or slots, from which the desired value can be found. This allows for average-case constant time complexity for lookup, insertion, and deletion operations. However, hash collisions—where different keys produce the same hash code—must be handled, typically using techniques like open addressing or chaining .

9.Can lists contain different data types in Python?

ans- yes, list can store different data type.

10.Explain why strings are immutable in Python?

ans-strings are immutable because it can not be changed once they are created.

11.What advantages do dictionaries offer over lists for certain tasks?

ans-Dictionaries offer faster lookups and clearer key-based access than lists, making them better for structured, named data.


12.Describe a scenario where using a tuple would be preferable over a list?

ans- A tuple is preferable in birth dates because the birth date is a fixed set of values that shouldn't change, ensuring data integrity.

13.How do sets handle duplicate values in Python?

ans-sets automatically remove duplicate values in python sets only store unique value 

14.How does the “in” keyword work differently for lists and dictionaries?

ans- In list the "in" keyword looks for the value in list and for dictionaries "in" keyword looks for the key.

15.Can you modify the elements of a tuple? Explain why or why not?

ans-No, you cannot modify the elements of a tuple because tuples are immutable in Python — once created, their contents cannot be changed.
because tuples are designed to be fixed collections of items and this immutability makes them safe, hashable, and usable as dictionary keys or set elements. However, if a tuple contains mutable elements (like a list), those inner elements can be changed, but the tuple’s structure still can’t.


16.What is a nested dictionary, and give an example of its use case?

ans-A nested dictionary is a dictionary that contains another dictionary as a value.it is used in storing structured data, like student records, where each student ID maps to another dictionary with personal details.

17.Describe the time complexity of accessing elements in a dictionary?

ans- Accessing elements in a Python dictionary has an average-case time complexity of O(1) — constant time. Dictionaries use a hash table internally, so accessing a value by its key is very fast and doesn’t depend on the dictionary size.

18.In what situations are lists preferred over dictionaries?

ans-Lists are preferred over dictionaries when You need to store ordered data, Elements are accessed by position (index), The data doesn’t need named keys, You may have duplicates, You need to maintain insertion order and sequence.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

ans-Dictionaries are considered unordered because values are accessed by keys, not positions, and you can't use indexing like with lists.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

ans- Lists retrieve data by index (position), while dictionaries retrieve data by key (name or identifier).This makes lists better for ordered data and dictionaries better for labeled or structured data.

In [ ]:
#practical question--

In [1]:
#1 Write a code to create a string with your name and print it?

nme= "hello my name is anam fatima"

print(nme)

hello my name is anam fatima

In [2]:
#2 Write a code to find the length of the string "Hello World"?

len("Hello world")

11

In [4]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"?

h="python programming"

h[:3]

'pyt'

In [5]:
#4 Write a code to convert the string "hello" to uppercase?

x= "hello"

x.upper()

'HELLO'

In [7]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"?

text= "I like apple"

new=text.replace("apple", "orange")

new

'I like orange'

In [9]:
#6 Write a code to create a list with numbers 1 to 5 and print it?

lis= [1 , 2, 3, 4, 5]
print(lis)

[1, 2, 3, 4, 5]

In [11]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]?

x=[1, 2, 3, 4]

x.append(10)

x

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

y=[1, 2, 3, 4, 5]

y.remove(3)

y

[1, 2, 4, 5]

In [14]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

z=['a', 'b', 'c', 'd']

z[1]

'b'

In [15]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].

x=[10, 20, 30, 40, 50]

x[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup=(100 ,200 ,300 )

print(tup)
#print(type(tup))

(100, 200, 300)

In [18]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t= ('red', 'green', 'blue', 'yellow')

t[1:]

('green', 'blue', 'yellow')

In [20]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

mini=(10, 20, 5, 15)

print(min(mini))

5

In [23]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

ind= ('dog', 'cat', 'rabbit')

ind_cat=ind.index('cat')

print(ind_cat)

1

In [24]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruit=('apple', 'banana','orange')

if "kiwi" in fruit:
    print("kiwi is present in tuple")

else:
    print("kiwi is not present in tuple")

kiwi is not present in tuple

In [25]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s_e_t={'a','b','c'}

print(s_e_t)

{'b', 'c', 'a'}

In [29]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s={1, 2, 3, 4, 5}

s.clear()

print(s)

set()

In [30]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

r={1, 2, 3, 4}

r.remove(4)

print(r)

{1, 2, 3}

In [31]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

s1={1, 2, 3}
s2={3, 4, 5}

uni=s1| s2

print(uni)

{1, 2, 3, 4, 5}

In [33]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s1={1, 2, 3}
s2={2, 3, 4}

inter= s1& s2
print(inter)

{2, 3}

In [34]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dic={"Name": "anam fatima","age":22,"City": "bhopal"}

print(dic)

{'Name': 'anam fatima', 'age': 22, 'City': 'bhopal'}

In [35]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict1={'name': 'John', 'age': 25}

dict1["country"]= "USA"

print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [36]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

d={'name': 'Alice', 'age': 30}

d['name']

'Alice'

In [38]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d2={'name': 'Bob', 'age': 22, 'city': 'New York'}

d2.pop("age")

22

In [39]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

d3= {'name': 'Alice', 'city': 'Paris'}

'city' in d3

True

In [42]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.

l= [1, 2, 3, 4, 5]
t= (10, 20, 5, 15)
d={'name': 'Alice', 'city': 'Paris'}

print(l)
print(t)
print(d)

[1, 2, 3, 4, 5]
(10, 20, 5, 15)
{'name': 'Alice', 'city': 'Paris'}

In [49]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

num= [11,34,67,55,89,68]

num.sort()

print(num)

[11, 34, 55, 67, 68, 89]

In [43]:
#28 Write a code to create a list with strings and print the element at the third index.

list1=['apple','orange','grapes','cherry','banana','dates']

list1[3]

'cherry'

In [47]:
#29 Write a code to combine two dictionaries into one and print the result.

d1={"name": "deepa","age": 17}
d2={"standard": 11, "city": "janakpur"}

d1.update(d2)

print(d1)

{'name': 'deepa', 'age': 17, 'standard': 11, 'city': 'janakpur'}

In [48]:
#30 Write a code to convert a list of strings into a set.

list2=['apple','orange','grapes','cherry','banana','dates']

print(set(list2))

{'cherry', 'dates', 'grapes', 'apple', 'banana', 'orange'}